Source: openmediavault-symlinks
Section: net
XB-Plugin-Section: filesystems
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2
Homepage: http://omv-extras.org/

Package: openmediavault-symlinks
Architecture: all
Depends: openmediavault (>= 7),
         openmediavault-sharerootfs,
         ${misc:Depends}
Description: OpenMediaVault symlinks plugin
 Allow creation of symlinks.
